@import "tailwindcss";
@import 'bootstrap-icons/font/bootstrap-icons.css';
@custom-variant dark (&:where(.dark, .dark *));
@theme {
    /* --color-main-color:rgb(00000);
    --color-text-color:rgb(0, 75, 187);
    --text-28:1.75rem;
    --gap-my:60px;    */
}

.top_bar{
    height: 40px;
    background-color: #1a82cb;
    
}


